<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a routerLink="/fire" routerLinkActive="active" class="nav-link active">Fire Works</a>
        </li>
        <li class="nav-item">
            <a routerLink="/rain" routerLinkActive="active" class="nav-link">Rains</a>
        </li>
        <li class="nav-item">
            <a routerLink="/war" routerLinkActive="active" class="nav-link">Star Wars</a>
        </li>
        <li class="nav-item">
            <a routerLink="/tree" routerLinkActive="active" class="nav-link">A Tree</a>
        </li>
        <li class="nav-item">
            <a routerLink="/plant" routerLinkActive="active" class="nav-link">A Plant</a>
        </li>
        <li class="nav-item">
            <a routerLink="/flappy" routerLinkActive="active" class="nav-link">Flappy Bird</a>
        </li>
    </ul>
</div>
<div class="container" style="text-align:center;">

<router-outlet></router-outlet>
</div>
